<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Listado de Medias</title>
</head>
<body>
    <section>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Tipo Media</th>
                <th>Url</th>
                <th>Src</th>
                <td>Titulo</td>
                <td>Integrante</td>
                <td>Activo</td>
            </tr>
            </thead>
            <tbody>
            {{#each media}}
                <tr>
                    <td>{{id}} </td>
                    <td>{{tipoMediaNombre}}</td>
                    <td>
                        {{#if url}}
                            <a href="{{url}}">{{url}}</a>
                        {{else}}
                            <div style="text-align: center">
                                <i class="fas fa-minus" style="color: gray"></i>
                            </div>
                        {{/if}}
                    </td>
                    <td style="text-align: center">
                        {{#if src}}
                            <a href="{{src}}" target="_blank">
                                <img src="{{src}}" alt="{{alt}}" height=60px width="80px">
                            </a>
                        {{else}}
                            <div style="text-align: center">
                                <i class="fas fa-minus" style="color: gray"></i>
                            </div>
                        {{/if}}
                    </td>
                    <td>{{alt}}</td>
                    <td>{{integranteNombre}} {{integranteApellido}}</td>
                    <td>
                        {{#if activo}}
                            Activo
                        {{else}}
                            Inactivo
                        {{/if}}
                    </td>
                    <td>
                        <form action="/admin/media/delete/{{this.id}}" method="post">
                            <input type="submit" value="Eliminar">
                        </form>
                    </td>
                </tr>

            {{/each}}
            </tbody>
        </table>
    </section>
    <a href="/admin">volver</a>
    <a href="/admin/media/crear">Crear nueva media</a>
</body>
</html>