<nav class="enlaces">  
    <ul>
        <li><a href="/">Inicio</a></li>
        {{#each integrantes}}
            <li><a href="/integrante/{{matricula}}/">{{nombre}} - {{matricula}}</a></li>
        {{/each}}
    </ul> 
</nav>