<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

        <title>{{nombre}} {{apellido}}</title>

    <link rel="stylesheet" href="/paginas/style.css">
</head>

<body>
    {{>nav}}
<header>
    {{#each integrante}}
        <h1>{{nombre}} {{apellido}} - {{matricula}}</h1>
        <p>{{descripcion}}</p>
    {{/each}}
</header>

<section>
    {{#each medias}}
        <h2>{{media.alt}}</h2>
        {{#if url}}
            <div class="iframe-container">
                <iframe src="{{url}}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        {{else}}
            <img src="{{src}}" alt="{{alt}}">
        {{/if}}
    {{/each}}
</section>
<footer>
    <p><a href="/">Volver al index</a></p>
</footer>
{{> footer}}
</body>
</html>
